body {
  width: 90%;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  font-family: "tiresias_infofontregular";
  margin: auto;
}

* ul, li, a {
  color: black;
  text-decoration: none;
  list-style: none;
}

.hiddenElement {
  display: none;
}

@font-face {
  font-family: "tiresias_infofontregular";
  src: url("../police/tiresias_infofont-webfont.woff2") format("woff2"), url("../police/tiresias_infofont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.contact_photographer {
  padding: 15px;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}
.contact_photographer:hover {
  background-color: #db8776;
  color: black;
}
.contact_photographer:focus {
  background-color: #db8776;
  color: black;
}

.senddata {
  padding: 15px 40px;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 2%;
}
.senddata:hover {
  background-color: #db8776;
  color: black;
}
.senddata:focus {
  background-color: #db8776;
  color: black;
}

.modal_contact {
  display: none;
}

.openModal {
  display: initial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db8776;
}

.content_modal {
  width: 60%;
  height: 90vh;
  position: relative;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #d0644e, -3px -3px 3px #e6aa9e;
}

.head_forms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_forms h1 {
  font-size: 50px;
  margin-left: 25px;
  font-weight: normal;
}

.forms_photographer {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  flex-direction: column;
}

.formData {
  width: 95%;
  height: auto;
  margin: 10px auto;
}
.formData label {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 200;
}
.formData input {
  width: 98%;
  height: 40px;
  border-radius: 5px;
  margin: auto;
  font-size: 25px;
}
.formData textarea {
  width: 98%;
  height: 160px;
  font-size: 20px;
  border: 5px;
}

h1.title--smaller {
  font-size: 40px;
}

@media screen and (max-width: 798px) {
  .head_forms h1 {
    font-size: 20px;
    margin: 10px 0 10px 10px;
  }

  h1.title--smaller {
    font-size: 15px;
  }

  .formData {
    margin: 5px auto;
  }
}
.close_modal {
  background-color: #db8776;
  color: #ffffff;
  outline-color: transparent;
  border: transparent;
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

.lightbox {
  display: none;
}

.show_lightbox {
  display: initial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_lightbox {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_lightbox .btn {
  padding: 30px;
  font-size: 50px;
}
.content_lightbox .btn .fa-chevron-left, .content_lightbox .btn .fa-chevron-right {
  color: #901c1c;
}

.photo {
  height: 90vh;
  width: 100%;
  object-fit: scale-down;
}

@media screen and (max-width: 798px) {
  .content_lightbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content_lightbox .btn {
    padding: 15px;
    font-size: 20px;
  }
  .content_lightbox .btn .fa-chevron-left, .content_lightbox .btn .fa-chevron-right {
    color: #901c1c;
  }

  .photo {
    max-height: none;
    height: 80vh;
    width: 100%;
    object-fit: contain;
  }
}
.close_lightbox {
  padding: 30px;
  font-size: 50px;
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 1;
  color: #901c1c;
}

@media screen and (max-width: 798px) {
  .close_lightbox {
    padding: 10px;
    font-size: 25px;
  }
}
.error {
  color: #720000;
  font-weight: bold;
}

.fa_heart {
  font-size: 22px;
}

.fa-heart::before {
  margin-left: 10px;
}

.pages-header {
  width: 95%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link_anchor {
  display: inline-block;
  background-color: #db8776;
  color: black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 16px;
  width: 150px;
  padding: 3px;
  text-align: center;
}

.index_header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index_header .logo {
  display: inline-flex;
  width: 100%;
}
.index_header .index_nav {
  display: inline-flex;
  margin-left: 10px;
}
.index_header .index_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.index_header .index_nav ul li {
  margin: 0 5px;
}
.index_header .index_nav ul li a {
  display: inline-flex;
  color: #901c1c;
  font-size: 0.8rem;
}
.index_header .index_maintitle {
  color: #901c1c;
  font-weight: 200;
  font-size: 1.6em;
  letter-spacing: 0.2px;
}

.our_photographers {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list_photographers {
  display: none;
}

.photographer {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}
.photographer__profil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d3573c;
}
.photographer__profil .name_photographer {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}
.photographer__profil .photo_photographer {
  margin-bottom: 10px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.moreinfo {
  text-align: center;
}
.moreinfo__country {
  color: #901c1c;
  font-size: 14px;
}
.moreinfo__slogan {
  color: black;
  font-size: 12px;
  font-weight: bolder;
}
.moreinfo__price {
  color: #525252;
  font-weight: 10px;
}
.moreinfo--nomargin {
  margin: 4px 0;
}

.tag {
  color: #901c1c;
}

.modifh2 {
  font-size: 25px;
}

@media screen and (max-width: 798px) {
  .link_anchor {
    display: none;
  }

  .index_header {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 10px;
  }
  .index_header .img_link {
    order: 1;
    width: 40%;
  }
  .index_header .index_nav {
    order: 3;
    width: 100%;
  }
  .index_header .index_nav ul {
    flex-wrap: wrap;
  }
  .index_header .index_maintitle {
    order: 2;
    width: 55%;
    text-align: right;
    font-size: 0.9em;
  }

  .our_photographers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 10px 0;
  }

  .photographer {
    width: 100%;
    height: auto;
  }
}
.profil_photographer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}
.profil_photographer__name {
  color: #d3573c;
  font-size: 50px;
  font-weight: 100;
  margin: 10px 30px;
}

.info_photographer {
  width: 90%;
  height: 100px;
  position: relative;
  margin-bottom: 50px;
}
.info_photographer__country {
  color: #901c1c;
  font-size: 22px;
  margin: 5px 30px;
}
.info_photographer__slogan {
  color: #525252;
  margin: 10px 30px;
}

.tagofphotographer {
  color: #901c1c;
  padding-left: 30px;
}

.picture-profil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: -80%;
  right: 0;
}

.work_photographer {
  width: 98%;
  height: auto;
  margin: auto;
}

.form_organize {
  margin-bottom: 50px;
}
.form_organize label {
  font-weight: bold;
  font-size: 22px;
}

input:not(:focus):invalid,
textarea:not(:focus):invalid {
  border: 5px solid red;
  animation: errorData 0.5s ease-in-out 2 alternate;
}

@keyframes errorData {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
.organize,
option {
  margin-left: 20px;
  padding: 15px;
  background-color: #901c1c;
  color: #ffffff;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
}

.organize:hover,
.organize:focus {
  background-color: #db8776;
  color: black;
}

.container-picture {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 50px;
}

.picture {
  margin: 0;
  width: 100%;
  position: relative;
}
.picture figure {
  margin: 0;
}
.picture img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.describe-picture, .describe-video {
  width: 100%;
  padding: 5px;
  font: 25px;
  color: #901c1c;
}

.count_like, .count_like_video {
  position: absolute;
  display: inline-flex;
  flex-direction: row-reverse;
  color: #901c1c;
  right: 0;
  bottom: 2%;
}

.video {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.like_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: #db8776;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 18px;
  padding: 0 15px;
}
.like_and_price p {
  display: inline;
}

@media screen and (max-width: 798px) {
  body {
    width: 98%;
    height: auto;
  }

  .pages-header {
    width: 100%;
    height: 10vh;
  }
  .pages-header img {
    padding-left: 25px;
  }

  .profil_photographer {
    width: 100%;
    margin-left: 0;
  }
  .profil_photographer__name {
    color: #d3573c;
    font-size: 30px;
  }

  .info_photographer {
    width: 90%;
    height: 100px;
    position: relative;
    margin-left: 20px;
  }
  .info_photographer__country {
    color: #901c1c;
    font-size: 18px;
    margin: 5px 10px;
  }
  .info_photographer__slogan {
    font-size: 16px;
    margin: 5px 10px;
  }

  .picture-profil {
    width: 80px;
    height: 80px;
    top: -60%;
    right: 0%;
  }

  .contact_photographer {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 50px;
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .tagofphotographer {
    color: #901c1c;
    font-size: 16px;
    padding-left: 10px;
  }

  .form_organize {
    margin: 20px;
  }

  .organize,
option {
    padding: 8px;
    font-size: 18px;
  }

  .container-picture {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
  }
  .container-picture .picture {
    margin: 15px auto;
    object-fit: cover;
  }
  .container-picture img {
    width: 100%;
    height: 250px;
  }
  .container-picture .describe-picture {
    width: 100%;
  }

  .video {
    width: 100%;
    height: 340px;
  }

  .like_and_price {
    display: none;
  }

  .modal_contact {
    display: none;
  }

  .openModal {
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db8776;
  }

  .content_modal {
    width: 100%;
    height: 100vh;
    margin: 0;
    box-shadow: none;
  }

  .head_forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head_forms h1 {
    font-size: 40px;
  }

  .senddata {
    padding: 8px 40px;
    margin: 20px auto;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
