body{
    @include size-container(90%, 100vh);
    padding: 0;
    box-sizing: border-box;
    font-family: "tiresias_infofontregular" ;
    margin: auto;
}

*ul, li, a{
    color:black;
    text-decoration: none;
    list-style: none;
}

.hiddenElement{
    display: none;
}


@font-face {
    font-family: 'tiresias_infofontregular';
    src: url('../police/tiresias_infofont-webfont.woff2') format('woff2'),
         url('../police/tiresias_infofont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}