body{
    @include size-container(95%, 100vh);
    padding: 0;
    box-sizing: border-box;
}

*ul, li, a{
    color:black;
    text-decoration: none;
    list-style: none;
}

.hiddenElement{
    display: none;
}