.senddata{
    padding: 15px 40px;
    background-color: $bg-primary;
    color:$txt-primary;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 2%;
    &:hover{
        background-color: $bg-etatchange;
        color: $txt-etatchange;
    }&:focus{
        background-color: $bg-etatchange;
        color: $txt-etatchange;
    }
}