.close_modal{
    background-color: $bg-etatchange;
    color:$txt-primary;
    outline-color: transparent;
    border: transparent;
    font-size: 60px;
    font-weight: 200;
    margin-right: 25px;
}