.lightbox{
  display: none;
}

.show_lightbox {
  display: initial;
  position: fixed;
  top: 0;
  left: 0;
  @include size-container(100%, 90vh);
  @include flex(center, center);
}

.content_lightbox {
  @include size-container(100%, 80vh);
  @include flex(space-between, center);
  .btn {
    padding: 30px;
    font-size: 50px;
    .fa-chevron-left , .fa-chevron-right{
      color: $txt-bgwhite;
    }
  }
}

.photo {
  height: 90vh;
  width: 100%;
  object-fit: scale-down;
}

@media screen and (max-width: 798px) {
  
  .content_lightbox {
    @include size-container(100%, 100%);
    @include flex(space-between, center);
    .btn {
      padding: 15px;
      font-size: 20px;
      .fa-chevron-left , .fa-chevron-right{
        color: $txt-bgwhite;
      }
    }
  }
  .photo {
    max-height: none;
    height: 80vh;
    width: 100%;
    object-fit: contain;
  }
    
}
