.lightbox{
  display: none;
}

.show_lightbox {
  display: initial;
  position: fixed;
  top: 0;
  left: 0;
  @include size-container(100%, 90vh);
  @include flex(center, center);
}

.content_lightbox {
  @include size-container(100%, 100vh);
  @include flex(space-between, center);
  position: relative;
  .btn {
    padding: 30px;
    font-size: 50px;
    .fa-chevron-left , .fa-chevron-right{
      color: $txt-bgwhite;
    }
  }
}

.photo {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.movie {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

