.head_forms h1 {
  font-size: 30px;
  margin: 10px 0 10px 10px;
}

.formData input {
  height: 35px;
}

.forms_photographer label{
    font-size: 18px;
}

h1.title--smaller {
  font-size: 25px;
}

.formData {
  margin: 5px auto;
}
