.link_anchor {
  display: inline-block;
  background-color: $bg-etatchange;
  color: $txt-etatchange;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
  width: 150px;
  padding: 3px;
  text-align: center;
}

.logo {
  margin-left: 25px;
}

.index_header {
  @include size-container(100%, 10vh);
  @include flex(space-between, center);
}

.index_nav {
  width: 40%;
  display: inline;
  & span a {
    color: $txt-bgwhite;
    font-size: 14px;
    margin: 0 5px;
  }
}
.index_nav ul{
  @include flex(space-around, center);
}

.index_nav ul li{
  margin: 0 10px;
}

.index_maintitle {
  width: 20%;
  font-weight: normal;
  letter-spacing: 1px;
  color: $txt-bgwhite;
  font-size: 35px;
}

.our_photographers {
  @include size-container(95%, auto);
  @include flex(space-between, center);
  margin-left: 100px;
  flex-wrap: wrap;
}

.list_photographers{
  display: none;
}

.photographer {
  @include size-container(30%, auto);
  @include flex(center, center);
  flex-direction: column;
  margin: 40px 0;
  &__profil {
    color: $txt-secondary;
    .name_photographer {
      font-size: 30px;
      font-weight: 200;
      letter-spacing: 1px;
      text-align: center;
      margin: 0;
    }
    .photo_photographer {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}

.moreinfo {
  text-align: center;
  &__country {
    color: $txt-bgwhite;
    font-size: 14px;
  }
  &__slogan {
    color: $txt-etatchange;
    font-size: 12px;
    font-weight: bolder;
  }
  &__price {
    color: $txt-bglight;
    font-weight: 10px;
  }
  &--nomargin {
    margin: 0;
  }
}

.modifh2 {
  font-size: 25px;
}
