@media screen and (max-width:798px){

    .link_anchor{
        display: none;
    }

    .index_header{
        .img_link{
            order: 1;
            width: 40%;
        }
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 20px 10px;
        .index_nav{
         order: 3;
         width: 100%;
           ul{
           flex-wrap: wrap;
            }
        }.index_maintitle{
           order: 2;
           width: 55%;
          text-align: right;
          font-size: 0.9em;
        }
      }
      

  .our_photographers{
      @include flex(center,flex-start);
      @include size-container(100%,auto);
      flex-direction: column;
      margin: 10px 0;
  }

  .photographer{
      @include size-container(100%,auto);
  }
}

