.link_anchor {
  display: inline-block;
  background-color: $bg-etatchange;
  color: $txt-etatchange;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 16px;
  width: 150px;
  padding: 3px;
  text-align: center;
}

.index_header{
  @include size-container(100%, 10vh);
  @include flex(space-between, center);
  .logo{
    display: inline-flex;
    width: 100%;
  }
  .index_nav{
    display: inline-flex;
    margin-left: 10px;
    & ul{
      @include flex(space-between, center);
      padding: 0;
      & li{
        margin: 0 5px;
        a{
          display: inline-flex;
          color: $txt-bgwhite;
          font-size: 0.8rem;
        }
      }
    }
  }.index_maintitle{
    color: $txt-bgwhite;
    font-weight: 200;
    font-size: 1.6em;
    letter-spacing: 0.2px;
  }
}


.our_photographers {
  @include size-container(95%, auto);
  @include flex(space-between, center);
  flex-wrap: wrap;
}

.list_photographers{
  display: none;
}

.photographer {
  @include size-container(30%, auto);
  @include flex(center, center);
  flex-direction: column;
  margin: 40px 0;
  &__profil {
    @include flex(center, center);
    flex-direction: column;
    color: $txt-secondary;
    .name_photographer {
      font-size: 30px;
      font-weight: 200;
      letter-spacing: 1px;
      text-align: center;
      margin: 0;
    }
    .photo_photographer {
      margin-bottom: 10px;
      width: 220px;
      height: 220px;
      border-radius: 50%;
    }
  }
}

.moreinfo {
  text-align: center;
  &__country {
    color: $txt-bgwhite;
    font-size: 14px;
  }
  &__slogan {
    color: $txt-etatchange;
    font-size: 12px;
    font-weight: bolder;
  }
  &__price {
    color: $txt-bglight;
    font-weight: 10px;
  }
  &--nomargin {
    margin: 4px 0;
  }
}

.tag{
  color: $txt-bgwhite;
}

.modifh2 {
  font-size: 25px;
}
