@media screen and (max-width: 798px) {
  .pages-header{
    @include size-container(100%,10vh);
   
    img{
        padding-left: 25px;
    }
}

  .profil_photographer{
    width: 100%;
    margin-left:0;
    &__name {
      color: $txt-secondary;
      font-size: 30px;
    }
  }

  .info_photographer {
    @include size-container(90%,100px);
    position: relative;
    margin-left:20px;
    &__country {
      color: $txt-bgwhite;
      font-size: 18px;
      margin: 5px 10px;
    }
    &__slogan {
      font-size: 16px;
      margin: 5px 10px;
    }
  }
  
  .picture-profil {
    @include size-container(80px, 80px);
    top: -60%;
  }

  .contact_photographer {
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 50px;
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translateX(-60%);
  }

  .tagofphotographer {
    color: $txt-bgwhite;
    font-size: 16px;
    padding-left: 10px;
  }

  .form_organize {
    margin: 20px;
  }

  .organize,
  option {
    padding: 8px;
    font-size: 18px;
  }

  .container-picture {
    display: block;
    width: 100%;
    margin: auto;
    .picture{
      margin: 15px auto;
      object-fit: cover;
        }
    img {
      @include size-container(100%, 250px);
    }
    .describe-picture {
      width: 100%;
    }
  }

  .video {
    @include size-container(90%, 340px);
    margin-left: 20px;
  }
  .like_and_price {
    display: none;
  }
  .modal_contact {
    display: none;
  }

  .openModal {
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    @include size-container(100%, 100vh);
    @include flex(center, center);
    background-color: $bg-etatchange;
  }

  .content_modal {
    @include size-container(100%, 100vh);
    margin: 0;
    box-shadow: none;
  }
  .head_forms {
    @include flex(space-between, center);
    h1 {
      font-size: 40px;
    }
  }

  .senddata {
    padding: 8px 40px;
    margin: 20px auto;
    border-radius: 5px;
  }
}
