
.content_profil{
  background-color:$bg-ligthen;
  position: relative;
  margin-bottom: 50px;
  padding: 30px 0;
}

.profil_photographer {
  @include flex(flex-start, center);
  @include size-container(100%, auto);
  &__name {
    color: $txt-secondary;
    font-size: 50px;
    font-weight: 100;
    margin: 10px 30px;
  }
}

.info_photographer {
  @include size-container(100%, 100px);
  &__country {
    color: $txt-bgwhite;
    font-size: 20px;
    margin: 5px 30px;
  }
  &__slogan {
    color: $txt-bglight;
    margin: 10px 30px;
  }
}

.tagofphotographer {
  color: $txt-bgwhite;
  padding-left: 30px;
}

.picture-profil {
  @include size-container(160px, 160px);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 2%;
}

.work_photographer {
  @include size-container(98%, auto);
  margin: auto;
}

.form_organize {
  margin-bottom: 50px;
  & label {
    font-weight: bold;
    font-size: 22px;
  }
}

input:not(:focus):invalid,
textarea:not(:focus):invalid {
  border: 5px solid red;
  animation: errorData 0.5s ease-in-out 2 alternate;
}
@keyframes errorData {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

.organize,
option {
  margin-left: 20px;
  padding: 15px;
  background-color: $bg-primary;
  color: $txt-primary;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
}

.organize:hover,
.organize:focus {
  background-color: $bg-etatchange;
  color: $txt-etatchange;
}

.container-picture {
  @include size-container(100%, auto);
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 50px;
  .date_picture, .date_video{
    color: $txt-bgwhite;
  }
}


.picture {
  margin: 0;
  width: 100%;
  position: relative;
  figure{
    margin: 0;
  }
  img {
    @include size-container(400px, 400px);
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

.describe-picture, .describe-video{
  width: 100%;
  padding: 5px;
  font: 25px;
  color: $txt-bgwhite;
}
.count_like, .count_like_video{
  position: absolute;
  display: inline-flex;
  flex-direction: row-reverse;
  color : $txt-bgwhite;
  right: 0;
  bottom: 2%;

}
.video {
  @include size-container(400px, 400px);
  object-fit: cover;
}

.like_and_price {
  @include flex(space-between, center);
  @include size-container(200px, 40px);
  background-color: $bg-etatchange;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 18px;
  padding: 0 15px;
  p {
    display: inline;
  }
}
