.pages_main {
  @include size-container(90%, auto);
}

.profil_photographer{
  @include flex(flex-start, center);
  @include size-container(60%,auto);
  margin-left: 100px;
  &__name {
    color: $txt-secondary;
    font-size: 50px;
    font-weight: 100;
    margin: 10px 30px;
  }
}

.info_photographer {
  @include size-container(90%,200px);
  position: relative;
  margin-left: 100px;
  &__country {
    color: $txt-bgwhite;
    font-size: 22px;
    margin: 5px 30px;
  }
  &__slogan {
    color: $txt-bglight;
    margin: 10px 30px;
  }
}

.tagofphotographer a {
  color: $txt-bgwhite;
  padding-left: 30px;
}

.picture-profil {
  @include size-container(180px, 180px);
  border-radius: 50%;
  position: absolute;
  top: -40%;
  right: 0;
}

.work_photographer {
  @include size-container(98%, auto);
  margin: auto;
}

.form_organize{
  margin:0 0 20px 125px;
  & label{
    font-weight: bold;
    font-size: 22px;
  }
}

input:not(:focus):invalid, textarea:not(:focus):invalid{
  border: 5px solid red;
  animation: errorData 0.5s ease-in-out 2 alternate;
}
@keyframes errorData{
  0% {
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-3px);
  }
  100%{
    transform: translateX(3px);
  }
}

.organize , option{
  margin-left: 20px;
  padding: 15px;
  background-color: $bg-primary;
  color :$txt-primary;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
}

.organize:hover , .organize:focus{
  background-color: $bg-etatchange;
  color: $txt-etatchange;
}


.container-picture {
  @include size-container(100%, auto);
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 150px;
  justify-content: center;
}

.picture {
  margin: 0;
  img {
    @include size-container(400px, 400px);
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .describe-picture {
    color: $txt-bgwhite;
    font-weight: 500;
    font: 25px;
    @include size-container(100%, auto);
    @include flex(space-between, center);
    flex-direction: row-reverse;
    padding: 5px;

  }
}

.video{
  @include size-container(400px,400px)
}

.like_and_price{
    @include flex(space-between, center);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 40px;
    background-color:$bg-etatchange;
    font-size: 18px;
    padding: 0 15px;
    
    p{
        display: inline;
    }
}
