$bg-primary: #901c1c;
$bg-secondary: #ffffff;
$bg-etatchange: #db8776;
$bg-ligthen: #fafafa;

$txt-primary: #ffffff;
$txt-secondary: #d3573c;
$txt-etatchange: black;
$txt-bglight: #525252;
$txt-bgwhite: #901c1c;
